{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('success') %}

	<div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align:center">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}


<div class="row">
    <div class="col d-flex justify-content-end" style="margin:2rem 2rem">
        <a href="{{path("newContact")}}">
            <button type="button" class="btn btn-secondary">New Contact</button>
        </a>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            
            {% for contact in contacts %}
            <tr>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong" data-whatever="{{contact.note}}">Note</button>

                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Note:</h5>
                                </div>
                                <div class="modal-body" style="text-align:center; word-wrap: break-word">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{{path("updateContact", {id: contact.id, lastName: contact.lastName})}}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <br>
                    <a href="{{path("deleteContact", {id: contact.id})}}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                    <br>
                    <a href="{{path("contactId", {id: contact.id})}}">
                        <i class="bi bi-three-dots"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
                
        </tbody>
    </table>

    <div class="d-flex justify-content-center" style="margin: 1rem 5rem 1rem 5rem">
            <div class="pagination">	
                {{ knp_pagination_render(contacts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
    </div>


<script>
        document.querySelector('#exampleModalLong').addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget; // Button that triggered the modal
            let note = button.dataset.whatever; // Extract info from data-* attributes
            let modal = this;
            modal.querySelector('.modal-body').textContent = note;
    });
</script>

{% endblock %}