{% extends 'base.html.twig' %}


{% block body %}

<div class="row">
	<div class="col d-flex justify-content-end" style="margin:2rem 2rem">
		<a href="{{path("contacts")}}">
			<button type="button" class="btn btn-secondary">Back</button>
		</a>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
		</tr>
	</tbody>
</table>

<div class="note" style="text-align:center">
    <h2>Note</h2>
    <p>{{note}}</p>
</div>


{% endblock %}